<section 
  tabindex="-1" 
  role="dialog" 
  class="modal-hide" 
  [ngClass]="{
    'modal-show': modal
  }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header bg-light text-center">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" aria-label="Fechar" (click)="toogleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>
      <div class="modal-body">
        <p>{{ description }}</p>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-success" (click)="confirm()">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="toogleModal()">Cancelar</button>
      </footer>
    </div>
  </div>
</section>

<div 
  [ngClass]="{'modal-overlay': modal}"
  (click)="toogleModal()">
</div>
