.modal-show,
.modal-hide {
    position: fixed;
    left: 50%;
    transition: all .5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1033;
}

.modal-hide {
    top: -50%;
}

.modal-show {
    top: 50%;
}

.modal-overlay {
    background: #000;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
    z-index: 1032;
}