<section 
  tabindex="-1" 
  role="dialog" 
  class="modal-hide" 
  [ngClass]="{
    'modal-show': modal
  }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header">
        <h5 class="modal-title">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="toogleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>
      <div class="modal-body">
        <p>Texto do corpo do modal, é aqui.</p>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="toogleModal()">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </footer>
    </div>
  </div>
</section>

<div 
  [ngClass]="{'modal-overlay': modal}"
  (click)="toogleModal()">
</div>
