<form action="">
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <i class="bg-transparent border-right-0 fa fa-paper-plane-o input-group-text" aria-hidden="true"></i>
        </div>

        <input 
          type="text" 
          class="border-left-0 form-control" 
          id="comments" 
          aria-describedby="userComments" 
          placeholder="Deixe o seu comentário aqui...">
      </div>

      <small 
        id="userComments" 
        class="form-text alert alert-danger form-text mt-0">
          Comentário obrigatório
      </small>
    </div>
</form>