<ul class="list-unstyled mb-2" *ngIf="comments">
  <li class="mt-1 mb-1 p-2 bg-light" *ngFor="let comment of comments">
    <a [routerLink]="['/', userName, 'timeline']">
      {{ userName }}
    </a>
    {{ comment }}
  </li>
</ul>
  
<form action="">
  <div class="mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <i class="bg-transparent border-right-0 fa fa-paper-plane-o input-group-text" aria-hidden="true" title="Enviar comentário"></i>
        </div>

        <input 
          type="text" 
          class="border-left-0 form-control" 
          id="comments" 
          aria-describedby="userComments" 
          placeholder="Deixe o seu comentário aqui...">
      </div>

      <small 
        id="userComments" 
        class="form-text alert alert-danger form-text mt-0 mb-0">
          Comentário obrigatório
      </small>
    </div>
</form>