<div *ngIf="cardNotFound">
  <div class="alert alert-warning">
    <p>
      Não foram encontrados nenhum card para a busca <b>"{{ filter }}"</b>
    </p>
    <p>
      Verifique se o nome foi digitado corretamente, ou faça por uma nova busca utilizando a descrição do card.
    </p>
  </div>

  <div class="text-center">
    <button class="btn btn-dark mb-2" (click)="clearSearch()">Limpar busca</button>
  </div>
</div>

<div *ngIf="cardFound">
  <div class="alert alert-success">
    <p>
      Foram encontrados <b>"{{ cards.length }}"</b> cards para a busca <b>"{{ filter }}"</b>
    </p>
  </div>

  <div class="text-center">
    <button class="btn btn-dark mb-2" (click)="clearSearch()">Limpar busca</button>
  </div>
</div>

<div *ngIf="messageNoCards">
  <header class="alert alert-info text-center">
    <h1>Você ainda não possui nenhum card na sua lista</h1>
    <p>Faça já o cadastro de um novo, é simples e rápido</p>
  </header>

  <div class="text-center">
    <a class="btn btn-info" [routerLink]="['/', userName, 'timeline', 'add']">Adicionar um novo card</a>
  </div>
</div>

<div *ngIf="notUserOwner">
  <header class="alert alert-info text-center">
    <h1>Este usuário ainda não possui nenhum card cadastrado</h1>
  </header>
</div>
