.loading {
    animation: load 3s ease-in-out;
    background: green;
    display: block;
    height: 10px;    
}

.stopped {
    display: none;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}