<section class="bg-white p-2 rounded">
  <header class="bg-dark jumbotron p-2 text-center text-white">
    <h1>Bem-Vindo</h1>
    <p class="mb-0">Venha fazer parte da nossa rede social</p>
  </header>
  
  <p class="alert alert-danger" *ngIf="loginErro">
    {{loginErro}}
  </p>

  <form 
    [formGroup]="loginForm"
    (submit)="login($event)"
    #form="ngForm">
    <fieldset>
      <div class="form-group">
        <label for="userName">Login:</label>
  
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="fa fa-user input-group-text bg-dark text-white" aria-hidden="true"></i>
          </div>
  
          <input 
            type="text" 
            class="form-control" 
            id="userName" 
            aria-describedby="userNameHelp" 
            placeholder="Digite o seu login aqui"
            formControlName="userName">
        </div>
  
        <small 
          id="userNameHelp" 
          class="form-text alert alert-danger form-text mt-0"
          *ngIf="loginForm.get('userName').errors?.required && (form.submitted || loginForm.get('userName').touched)">
            Login obrigatório
        </small>
      </div>
  
      <div class="form-group">
        <label for="password">Senha:</label>
  
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="fa fa-unlock-alt input-group-text bg-dark text-white" aria-hidden="true"></i>
          </div>
  
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            aria-describedby="passwordHelp" 
            placeholder="Digite a sua senha aqui"
            formControlName="password">
        </div>
  
        <small 
          id="passwordHelp" 
          class="form-text alert alert-danger form-text mt-0"
          *ngIf="loginForm.get('password').errors?.required && (form.submitted || loginForm.get('password').touched)">
            Senha obrigatória
        </small>
      </div>
    </fieldset>
  
    <fieldset>
      <button 
        type="submit" 
        class="btn btn-success btn-block">
        Entrar
      </button>
  
      <!-- <a href="" class="btn btn-block btn-info">Faça seu cadastro</a> -->
    </fieldset>
  </form>
</section>
