<app-nav-back-button 
  title="Suas Informações"
  navColor="bg-dark">
</app-nav-back-button>

<section class="mt-5 pt-1">
  <header class="jumbotron bg-dark text-white text-center mt-2">
    <h1>Dados de cadastro</h1>
  </header>

  <ul 
    class="list-group" 
    *ngIf="(user$ | async) as user">
    <li class="list-group-item p-2 align-items-center d-flex">
      <i class="fa fa-user fa-2x pr-2" aria-hidden="true"></i>
      {{ user.name }}
    </li>
    <li class="list-group-item p-2 align-items-center d-flex">
      <i class="fa fa-envelope fa-2x pr-2" aria-hidden="true"></i>
      {{ user.email }}
    </li>
    <li 
      class="list-group-item p-2 align-items-center d-flex"
      (click)="logout($event)">
      <i class="fa fa-sign-out fa-2x pr-2" aria-hidden="true"></i>
      Sair
    </li>
  </ul>
</section>
