<nav class="position-fixed fixed-top col-12 bg-dark rounded-top page-width">
  <ul class="list-unstyled mb-0 p-3 position-relative text-center">
    <li class="nav-item position-absolute back-icon-left">
      <a 
        class="pt-2 pb-2 d-block"
        (click)="goBack($event)">
        <i class="fa fa-arrow-left fa-2x text-white" aria-hidden="true"></i>
      </a>
    </li>
    <li class="text-white">Suas informações</li>
  </ul>
</nav>

<section class="mt-5 pt-1">
  <header class="jumbotron bg-dark text-white text-center mt-2">
    <h1>Dados de cadastro</h1>
  </header>

  <ul 
    class="list-group" 
    *ngIf="(user$ | async) as user">
    <li class="list-group-item p-2 align-items-center d-flex">
      <i class="fa fa-user fa-2x pr-2" aria-hidden="true"></i>
      {{ user.name }}
    </li>
    <li class="list-group-item p-2 align-items-center d-flex">
      <i class="fa fa-envelope fa-2x pr-2" aria-hidden="true"></i>
      {{ user.email }}
    </li>
    <li 
      class="list-group-item p-2 align-items-center d-flex"
      (click)="logout($event)">
      <i class="fa fa-sign-out fa-2x pr-2" aria-hidden="true"></i>
      Sair
    </li>
  </ul>
</section>
