<app-nav-back-button
  title="Cadastro de cards"
  navColor="bg-success">
</app-nav-back-button>

<form 
  class="mt-5 pt-3"
  [formGroup]="formAddCards"
  #form="ngForm"
  (submit)="addCard($event)">
  <fieldset>
    <div class="form-group">
      <label for="inputImage">Adicione uma imagem para o seu card:</label>
      <div *ngIf="!preview; else previewImage">
        <div class="text-center">
          <button class="btn text-white bg-success" (click)="inputFile.click($event.preventDefault())">
            <i class="fa fa-image fa-5x"></i>
          </button>
        </div>
        <input 
          #inputFile
          hidden
          type="file" 
          class="form-control" 
          id="inputImage" 
          aria-describedby="imageHelp"
          formControlName="file"
          (change)="handleFile($event.target.files[0])">
        
          <small 
            id="imageHelp" 
            class="form-text text-danger"
            *ngIf="formAddCards.get('file').errors?.required && (form.submitted || formAddCards.get('file').touched)">
              Imagem obrigatória
          </small>
      </div>

      <ng-template #previewImage>
        <div class="text-right">
          <button class="btn btn-dark mb-1" (click)="preview = ''">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <app-card-template [url]="preview"></app-card-template>
      </ng-template>
    </div>

    <div class="form-group">
      <label for="textareaDescription">Adicione uma descrição para o seu card:</label>
      <textarea 
        name="textareaDescription" 
        id="textareaDescription" 
        class="form-control"
        placeholder="Digite a descrição do seu card aqui..."
        aria-describedby="teaxtareaHelp"
        formControlName="textareaDescription">
      </textarea>
      
      <small 
        id="teaxtareaHelp" 
        class="form-text text-danger"
        *ngIf="formAddCards.get('textareaDescription').errors?.maxlength">
          A descrição deve conter no máximo 300 caracteres
      </small>
    </div>

    <div class="form-group form-check">
      <input 
        type="checkbox" 
        name="inputCheck"
        class="form-check-input" 
        id="inputCheck"
        formControlName="inputCheck">
      <label class="form-check-label" for="inputCheck">Permitir comentários?</label>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="text-center display-4 alert alert-info" *ngIf="showProgress" >
      <p>{{ showProgress }} %</p>
    </div>
    <button type="submit" class="btn col-6 btn-success">Cadastrar</button>
    <button type="button" class="btn col-6 btn-info" (click)="handleClear($event)">Limpar</button>
  </fieldset>
</form>
