<section 
  class="position-fixed fixed-top page-width bg-dark p-2 rounded-bottom"
  [ngClass]="{'show': menuToggle, 'hide': !menuToggle}">
  <header class="position-relative mb-4 mt-2">
    <p class="text-center text-white">
        Busque pelo card desejado
    </p>
    <span 
      class="position-absolute mr-2 close-search" 
      (click)="closeSearch($event)"
    >
      <i class="fa fa-times-circle fa-2x text-white" aria-hidden="true"></i>
    </span>
  </header>

  <form (submit)="handleSubmit($event)">
    <div class="input-group mb-3 position-relative">
      <input 
        #inputSearch
        type="search" 
        class="form-control rounded" 
        placeholder="Buscar cards" 
        aria-label="Buscar cards" 
        aria-describedby="basic-addon2"
        (change)="filter = $event.target.value"
        (input)="filter = $event.target.value">

        <span 
          *ngIf="filter.length > 0"
          class="fa fa-times text-muted close-text-search position-absolute p-2" 
          aria-hidden="true" 
          (click)="clearInput($event, inputSearch)">
        </span>

      <div class="input-group-append rounded-right">
        <button type="submit" aria-hidden="true" class="fa fa-search fa-2x text-white border-0 bg-transparent"></button>
      </div>
    </div>
  </form>
</section>

<div 
  [ngClass]="{'overlay-search': menuToggle}"
  (click)="closeSearch($event)"
>
</div>