<nav class="position-fixed fixed-bottom col-12 bg-dark page-width rounded-top">
  <ul 
    class="nav d-flex justify-content-between align-items-center"
    *ngIf="logged">
    <li class="nav-item">
      <a 
        class="d-block text-white text-center pl-3 pr-3 pt-1"
        [routerLink]="['/', userName, 'timeline']"
        [routerLinkActive]="['bg-light', 'text-dark']"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home fa-2x d-block" aria-hidden="true"></i>
        <small>home</small>
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="d-block text-white text-center pl-3 pr-3 pt-1" 
        (click)="openSearch($event)">
        <i class="fa fa-search fa-2x d-block" aria-hidden="true"></i>
        <small>pesquisar</small>
      </a>
    </li>

    <li class="nav-item">
      <a 
        class="d-block text-white text-center pl-3 pr-3 pt-1"
        [routerLink]="['/', userName, 'timeline', 'add']"
        [routerLinkActive]="['bg-success']"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-plus-square fa-2x d-block" aria-hidden="true"></i>
        <small>adicionar</small>
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="d-block text-white text-center pl-3 pr-3 pt-1"
        [routerLink]="['/', userName, 'timeline', 'user']"
        [routerLinkActive]="['bg-info']"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-user fa-2x d-block" aria-hidden="true"></i>
        <small>configurações</small>
      </a>
    </li>
  </ul>

  <ul 
    class="list-unstyled m-0 text-center"
    *ngIf="!logged">
    <li class="nav-item">
      <a 
        class="btn btn-primary m-2 text-white"
        [routerLink]="['']">
        Faça seu login
      </a>
    </li>
  </ul>  
</nav>
