<nav class="position-fixed fixed-bottom col-12 container">
  <ul class="nav d-flex justify-content-between align-items-center bg-info">
    <li class="nav-item">
      <a 
        class="nav-link"
        [routerLink]="['/', userName, 'timeline']">
        <i class="fa fa-home fa-2x text-white" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-plus-square fa-2x text-white" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link"
        [routerLink]="['user']">
        <i class="fa fa-user fa-2x text-white" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
