<app-timeline-search (sendFilter)="filter = $event"></app-timeline-search>

<app-timeline-card-notfound
    [cards]="cards | timelineSearchCards:filter"
    [filter]="filter"
    (cardsBeforeSearch)="filter = $event.filter && cards = $event.cards">
</app-timeline-card-notfound>

<app-card-template
    class="timeline-card"
    *ngFor="let card of cards | timelineSearchCards:filter"
    [url]="card.url"
    [description]="card.description">

    <app-timeline-like 
        (click)="enjoying(card)"
        [likes]="card.likes">
    </app-timeline-like>

    <app-icon-remove 
        appOwnerDirective
        [card]="card"
        [user]="user"
        (removeCard)="removeCard(card.id)">
    </app-icon-remove>

    <app-modal-confirm 
        (confirmed)="confirmed($event)"
        title="Deseja remover este card?"
        description="Após remover o card ele não poderá ser recuperado, deseja continuar?">
    </app-modal-confirm>
</app-card-template>


<app-button-load-card 
    [cards]="cards" 
    (newList)="newListCards($event)"
    *ngIf="!filter">
</app-button-load-card>