/* You can add global styles to this file, and also import other style files */
.page-bkg,
.page-width {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.page-bkg {
    background: #fff;
    min-height: 100%;
    padding: 8px;
    padding: .5em;
    position: absolute;
    top: 0;
}

.back-icon-left {
    left: 0;
    top: 0;
}